

body{
    background-color: #065F11;
    width: 99vw;
    height: 90vh;
}

.TituloLogo{
    padding: 1vw;
    display: grid;
    place-items: center;
}

.container{
    margin-top: 5%;
    background-color:rgba(37, 169, 53, 0.5);
    border-radius: 33px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caixaTexto{
    width: 25vw;
    border: 10px solid rgba(209, 209, 209, 1);
    background-color: rgba(209, 209, 209, 1);
    border-radius: 20px;
}


.botao{
    margin-top: 2%;
    margin-left: 32%;
    width: 30%;
    height: 20%;
    border-radius: 20px;
    background-color: #001E04;
    text-align: center;
    font-size: larger;
    color: white
}


.p{
    color: rgba(113, 113, 113, 1);
}

.h2{
    text-align: center;
    color: white
}
