/*Estrutura*/

body{
    background-color: rgba(6, 95, 17, 1);
    width: 90vw;
    height: 90vh;
}
section{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 8%;
    background-color:rgba(37, 169, 53, 0.5);
    border-radius: 25px;
}

footer{
    display: flex;
    justify-content: space-between;
}

/*Header*/
.FlexDiv{
    display: flex;
    margin-bottom: 2%;
}

.BarraPesquisa{
    background-color:rgb(221, 221, 221);
    border: none;
    width: 90vw;
    height: 5vh;
    border-radius: 30px;    
}

#BotaoLupa{
    border: none;
    background-color: rgba(6, 95, 17, 1);
}




/*Section*/

.CardAlimento{
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 1);
    width: 15vw;
    height: 20vw;
    align-items: center;
}

.cupuacu{
    width: 99%;
}

.FlexDivTabelas{
    display: flex;
    gap: 10px;
}

.InfoAlimento{
    display: flex;
    justify-content: center;
    margin-left: 10%;
   
}

.tabela{
    margin-left: 5%;
    background-color: rgba(217, 217, 217, 1);
    height: fit-content;
    width: fit-content;
    
}


.botao{
    width: 15%;
    height: 25%;
    border-radius: 20px;
    background-color: #001E04;
    text-align: center;
    font-size: larger;
    color: white
}

h3{
    text-align: center;
    font-size: larger;
    background-color:rgba(128, 147, 103, 1) ;
}

h4{
    text-align: center;
    font-size: medium;
}

.LinkReceita:hover {
    background-color: #218838; 
}

.LinkReceita {
    margin-left: 20%;
    text-align: center;
    width: 50%;
    display: inline-block;
    padding: 10px 15px; 
    background-color: #28a745; 
    color: white;
    text-decoration: none; 
    border-radius: 25px;
    transition: background-color 0.3s; 
}





