body{
    background-color: rgba(6, 95, 17, 1);
    width: 90vw;
    height: 90vh;
}

.FlexDiv{
    display: flex;
}

textarea{
    background-color: rgba(182, 182, 182, 0.34);
    border: none;
    width: 70vw;
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
}

#BotaoLupa{
    border: none;
    background-color: rgba(6, 95, 17, 1);
}